*{
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.whole{
	background-size: cover;
	background-position: center;
	padding: 60px;
	background-image:linear-gradient(rgba(0,0,80,0.5),rgba(0,0,80,0.5)),url('images/Honeyview_bg.webp');
}
.banner{
	background-size: cover;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0,0,5,3);
}
#profile{
	display: block;
	margin: auto;
	border-radius: 50%;
	margin-bottom: 18px;
	padding: 30px;
}
.profile img{
	display: block;
	margin: auto;
	border-radius: 50%;
	border: 5px double white;
	margin-bottom: 12px;	
}
.profile h1{
	text-align: center;
	color: #3388BB;
	font-size: 48px;
	letter-spacing: .1px;
	-webkit-text-stroke: .3px white;
	text-shadow: 1px 1px #FD6228;
}
#about {
	text-align: center;
	color: white;
	padding-bottom: 20px;
	letter-spacing: .1px;
}
#about p{
	line-height: 30px;
}
h2{
	margin-top: 20px;
	font-size: 36px;
	text-align: center;
	padding: 20px;
	color: #3388BB;
 	letter-spacing: .1px;
	
}
.characteristics ul{
	display: table;
	margin: auto;
}
.characteristics ul li{
	color: white;
	font-size: 16px;
	list-style-type: none;
	line-height: 40px;
	letter-spacing: .2px;	
	border-bottom: 1px solid #4FA0AA;
	margin: 10px;
	margin-right: 40px;
}
.characteristics ul li a{
	color: #3388BB;
	font-weight: bold;
	text-decoration: none;
}
.characteristics ul li a:hover{
	color: #4FA0AA;
}
.main{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr ;
	place-items: center;
}
.main .band{
	grid-area: 1/1;
	z-index: 10;

}
.main .band1{
	grid-area: 1/1;
}
.band1 img{
	display: block;
	margin: auto;
	width: 60%;
	border-radius: 50%;
	margin-top: 30px;
	transition: 0.5s ease;
}
.band1 p{
	margin-top: 8px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.band img{
	display: block;
	margin: auto;
	border-radius: 50%;
	margin-top: 30px;
	transition: 0.5s ease;
}
.band img:hover{
	opacity: 0;
	scale: 0.5;
}
p{
	font-size: 16px;
	margin: 40px;
}
.bandmates{
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	width: 70%;
}
.bandmates img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 1px #4FA0AA;
}
.bandmates img:hover{
	transform: scale(0.9);
	transition: .5s ease;
}
.name{
	display: block;
	margin: auto;
	justify-content: space-evenly;
	color: white;
}
.name p{
	text-align: center;
	color: #3388BB;
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.name a{
	text-decoration: none;
}
footer{
	background-color: #4FA0AA;
	width: 99%;
	margin: auto;
	border-radius: 10px;
}
footer p{
	text-align: center;
	margin-top: 20px;
	margin-bottom: -50px;
	padding: 5px;
	font-size: 16px;
}
footer a{
	text-decoration: none;
	color: black;
	transition: 0.1s ease;
}
footer a:hover{
	color: #3134B0;
}

@media(max-width:1383px){
	.bandmates img{
		display: block;
		margin: auto;
		width: 250px;
		height: 250px;
	}
	.name p{
		font-size: 24px;
	}
}
@media(max-width:1177px){
	.band img{
		max-width: 500px;
		height: vh;
	}
	.band1 img{
		max-width: 500px;
		height: vh;
	}
	.bandmates img{
		display: block;
		width: 200px;
		height: 200px;

	}
	.name p{
		margin-top: 10px;
		font-size: 18px;
	}
}
@media(max-width:1000px){
	.characteristics ul li{
		padding-right: 10px;
	}
}
@media(max-width:1081px){
	.bandmates{
		display: block;
			}
	.bandmates img{
		margin: auto;
	}
}
@media(max-width:688px){
	.whole{
		padding: 40px;
	}
	.profile img{
		width: 300px;
		height: vh;
	}
	#about{
		text-align: left;
	}
	.band img{
		width: 300px;
		height: vh;
	}
	.band1 img{
		margin-top: 70px;
		width: 300px;
		height: vh;
	}
	.band1 p{
		visibility: hidden;
	}
	.bandmates{
		display: block;
			}
	.bandmates img{
		margin: auto;
		max-width: 200px;
		height:  200px;
	}
	.name p{
		font-size: 16px;
	}
}
@media(max-width:477px){
	.whole{
		padding: 20px;
	}
	.profile img{
		width: 200px;
		height: vh;
	}
	.profile h1{
		font-size: 24px;
	}
	.band img{
		max-width: 200px;
		height: vh;
	}
	.band1 img{
		margin-top: 90px;
		max-width: 200px;
		height: vh;
	}
	.bandmates{
		display: block;
			}
	.bandmates img{
		margin: auto;
		max-width: 100px;
		height:  100px;
		box-shadow: 0px 0px 3px 3px #4FA0AA;
	}
	.name p{
		font-size: 18px;
	}
	h2{
		font-size: 24px;
	}
	p{
		font-size: 16px;
	}
	.characteristics ul li{
		font-size: 16px;
	}

}
@media(max-width:374px){
	.profile img{
		width: 180px;
		height: vh;
	}
	.band img{
		max-width: 170px;
		height: vh;
	}
	.band1 img{
		max-width: 170px;
		height: vh;
	}
	.band1 p{
		font-size: 12px;
	}
	.bandmates img{
		max-width: 100px;
		height:  100px;
		box-shadow: 0px 0px 3px 3px #4FA0AA;
	}
	.name p{
		font-size: 12px;
	}
}
